* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #3500d3;
}
.leftNav {
  color: red;
  border-radius: 20px;
  margin: 0.25em;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 3vw;
  height: 100vh;
  background-color: black;
}
.leftNav > div {
  padding: 2px;
  margin: 7px;
}
.content > div {
  width: 92.5vw;
  height: 50vh;
  margin: 4px;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: black;

  justify-self: flex-end;
}

.updates {
  display: flex;
  overflow: hidden;
  position: relative;
}

.updates input {
  display: none;
}

.updates img {
  width: 92vw;
  height: 49vh;
  border-radius: 5px;
}

.updates .imageSlide {
  margin-right: 2vw;
  transition: 2s;
}

.manualBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92vw;
  position: absolute;
  margin-top: 45vh;
}

.manualBtn label {
  height: 10px;
  width: 10px;
  border: 3px solid white;
  border-radius: 9px;
  transition: 2s;
}

.manualBtn label:not(:last-child) {
  margin-right: 3vw;
}

#radio1:checked ~ .image1 {
  margin-left: 0px;
}
#radio2:checked ~ .image1 {
  margin-left: -94vw;
}
#radio3:checked ~ .image1 {
  margin-left: -188vw;
}

#radio1:checked ~ .manualBtn > .label1 {
  background-color: white;
}
#radio2:checked ~ .manualBtn > .label2 {
  background-color: white;
}
#radio3:checked ~ .manualBtn > .label3 {
  background-color: white;
}
